.App {
	font-family: sans-serif;
	text-align: center;
}

#chart-area svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#logo {
	height: 50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

.point {
	stroke-width: 1px;
	stroke: black;
}

.year-label {
	text-anchor: end;
	font-size: 50px;
	fill: #aaa;
}

.fill-asia {
	fill: #8fcfd1;	
}
.fill-africa {
	fill: #df5e88;	
}
.fill-europe {
	fill: #f6ab6c;	
}
.fill-americas {
	fill: #f6efa6;	
}